// =========================== ПРЕСЕТЫ-МИКСИНЫ =========================
$Poppins: Poppins, sans-serif;


$breakpoint_1800: 1800px;
$breakpoint_1600: 1600px;
$breakpoint_1500: 1500px;
$breakpoint_1400: 1400px;
$breakpoint_1300: 1300px;
$breakpoint_1200: 1200px;
$breakpoint_1100: 1100px;
$breakpoint_1024: 1024px;
$breakpoint_820: 820px;
$breakpoint_770: 770px;
$breakpoint_700: 700px;
$breakpoint_630: 630px;
$breakpoint_550: 550px;
$breakpoint_500: 500px;
$breakpoint_450: 450px;
$breakpoint_380: 380px;


@mixin font ($f-weight, $f-size, $f-family) {
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  font-family: $f-family, sans-serif;
}

// ========================= CORE =============================
body {
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding: 0 28px;
  margin: 0 auto;
}
// =========================== PRE-MAIN =========================
.wrapper {
}
.main {
  display: flex;
  flex-direction: row;
}
// =========================== MAIN ===========================

.container {
  width: 100%;
  max-width: 100%;
  flex: 1 1 0%;
}

// ================================ INDEX-HOME ===========================
// ================================ INDEX-HOME ===========================

// ================================ HOMEHEADER ===========================
.homeheader {
  display: flex;
  flex-direction: row;
  margin: 30px 0px 60px;
  padding: 0px 20px;
  align-items: center;
  @include font (500, 16px, $Poppins);
  color: #000;
  justify-content: space-between;
  padding-bottom: 30px;
  position: relative;
}
.homeheader--border{
  border-bottom: solid 2px rgba(133, 133, 133, 0.15);
}
.homeheader__blog-logo {
  cursor: pointer;
}
.homeheader__blog-logo img {
}
.homeheader__navbar {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.homeheader__nav-item {
  padding-right: 40px;
  transition: all .3s;
  white-space: nowrap;
  cursor: pointer;
  &:last-child{
    padding-right: 40px;
  }
  &:hover{
    transition: all .3s;
    color: #2388FF;
  }
}
.homeheader__nav-link {
  cursor: pointer;
  position: relative;  
  &::before{
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: -15px;
    width: 6px;
    height: 6px;
    background: url("/img/arrow-ico.png") 0 0 no-repeat;
  }
}
.nav-link--none{
  &::before{
    content: none;
  }
}
.homeheader__dropdown-menu {
  display: none;
  width: 100%;
  position: absolute;
	padding: 80px 15px 15px 15px;
}
.drop-1{
  left: 65%;
  transform: translateX(-50%);
}
.display-on{
  display: flex;
  // box-shadow: 0px 4px 5px 0px rgba(205, 205, 205, 0.15);
  
}

.homeheader__menu-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: var(--colors-white, #FFF);
  position: relative;
  padding-bottom: 70px;
  &::before{
    content: "";
    position: absolute;
    background: var(--colors-white, #FFF);
    top: 0px;
    left: -1000px;
    width: 100vw;
    height: 290px;
    z-index: 2;
  }
  &::after{
    content: "";
    position: absolute;
    width: 1000vw;
    height: 2px;
    bottom: 0px;
    right: 100px;
    background: rgba(133, 133, 133, 0.15);
    z-index: 2;
  }
}
.homeheader__menu-col {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  width: 100%;
  margin-right: 50px;
  cursor: pointer;
  transition: all .3s;
  z-index: 2;
  &:last-child{
    margin-right: 0;
  }
  &:hover{
    transition: all .3s;
    .homeheader__menu-coltitle{
    color: #2388FF;
    transition: all .3s;
    }
    .homeheader__menu-colsubtitle{
    color: #2388FF;
    transition: all .3s;
    }
  }
}
.homeheader__menu-coltitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  color: #000;
  margin-bottom: 9px;
}
.homeheader__menu-colimg {
  width: 208px;
  height: 114px;
  flex-shrink: 0;
  margin-bottom: 17px;
}
.homeheader__menu-colsubtitle {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #525252;
  white-space: wrap;
}
.homeheader__btn-box {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}
.homeheader__btn {
  cursor: pointer;
  padding: 10px 20px;
  &:first-child{
    margin-right: 25px;
  }
}
.btn-black {
  background: #000;
  color: #fff;
  border-radius: 5px;
  transition: all .3s;
  &:hover{
    transition: all .3s;
    background: #3c3c3c;
  }
}
.btn-white {
  transition: all .3s;
  &:hover{
    transition: all .3s;
    color: #2388FF;
  }
}
// ====== RESUME-MENU ======
.drop-2{
  left: 65%;
  transform: translateX(-50%);
  .homeheader__menu-container{
    &::before{
      height: 355px;
    }
  }
}
.homeheader__menu-rescol {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  margin-right: 50px;
  z-index: 2;
  &:last-child{
    padding-right: 0;
    margin-right: 0;
  }
  &:first-child{
    position: relative;
    &::after{
      content: "";
      width: 1px;
      height: 253px;
      background: #E5E5E5;
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
}
.homeheader__menu-colrestitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}
.homeheader__menu-rowgrid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 7px;
  row-gap: 4px;
  justify-content: start;
  margin-bottom: 37px;
  &:last-child{
    margin-bottom: 0;
  }
  transition: all .3s;
  &:hover{
    transition: all .3s;
    .menu__rowgrid-title, .menu__rowgrid-subtitle{
      color: #2388FF;
    }
  }
}
.menu__rowgrid-item {
  grid-row: span 2;
}
.menu__rowgrid-pretitle {
  display: flex;
  flex-direction: row;
}
.menu__rowgrid-title {
  margin-right: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
}
.menu__rowgrid-svg {
}
.menu__rowgrid-subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}
.homeheader__menu-gridcont {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 24px;
  row-gap: 21px;
}
.homeheader__menu-gridblock {
  border-radius: 7px;
  background: #F6F5F5;
  width: 218px;
  height: 110px;
  padding: 14px;
  transition: all .3s;
  &:hover{
    transition: all .3s;
    .menu-gridblock-title, .menu-gridblock-subtitle{
      color: #2388FF;
    }
  }
}
.menu-gridblock-title {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  position: relative;
  z-index: 2;
}
.menu-gridblock-subtitle {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #3A3A3A;
  white-space: wrap;
  position: relative;
  z-index: 2;
}
.gridblock-1{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0px;
    right: 0px;
    background: url("/img/restemp-svg-1.svg") no-repeat center / cover;
    z-index: 1;
  }
}
.gridblock-2{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0px;
    right: 0px;
    background: url("/img/restemp-svg-2.svg") no-repeat center / cover;
    z-index: 1;
  }
}
.gridblock-3{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0px;
    right: 0px;
    background: url("/img/restemp-svg-3.svg") no-repeat center / cover;
    z-index: 1;
  }
}
.gridblock-4{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0px;
    right: 0px;
    background: url("/img/restemp-svg-4.svg") no-repeat center / cover;
    z-index: 1;
  }
}
.homeheader__menu-colresul {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}
.homeheader__menu-colresli {
  margin-bottom: 15px;
  margin-left: -5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &:last-child{
    margin-bottom: 0;
  }
  transition: all .3s;
  &:hover{
    transition: all .3s;
    .menu__colresli-text{
      color: #2388FF;
    }
  }
}
.menu__colresli-svg {
}
.menu__colresli-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  padding-left: 10px;
}
.homeheader__menu-colresaft {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all .3s;
  &:hover{
    transition: all .3s;
    .homeheader__menu-colrestext{
      color: #2388FF;
    }
    path{
      fill: #2388FF;
    }
  }
}
.homeheader__menu-colrestext {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  color: #000;
  margin-right: 8px;
  align-items: center;
}
.homeheader__menu-colressvg {
}

// ====== CAREER-RESOURCES-MENU ======
.drop-5{
  left: 74%;
  transform: translateX(-50%);
  .homeheader__menu-container{
    &::before{
      height: 340px;
    }
  }
}
.homeheader__menu-carcol{
  padding-right: 50px;
  margin-right: 50px;
  position: relative;
  z-index: 2;
  &::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 253px;
    background: #E5E5E5;
    top: 10px;
    right: 0px;
  }
  &:last-child{
    padding-right: 0px;
    margin-right: 0px;
    &::after{
      content: none;
    }
  }
}


// ============================================  INDEX-ENTER ==========================================
// ============================================  INDEX-ENTER ==========================================
.wrapper__enter {
  @include font (400, 12px, $Poppins);
  margin: 27px 50px;
}
.header__enter {
  margin-bottom: 72px;
}
.container__enter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__enter-logo {
  width: 144px;
  height: 26px;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
  margin-left: -40px;
  margin-right: 15px;
}
.header__enter-logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__enter-btnbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__enter-btn {
  height: 33px;
  display: flex;
  align-items: center;
  margin-right: 45px;
  border-radius: 4px;
  background: #2388FF;
  padding: 4px 24px;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    background: #499cfc;
    transition: all .3s;
  }
}
.header__enter-svg {
  margin-right: 4px;
}
.header__enter-text {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  text-transform: capitalize;
  color: var(--colors-white, #FFF);
  white-space: nowrap;
}
.header__enter-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.header__enter-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__enter {
}
.main__enter-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}
.main__enter-block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  white-space: nowrap;
  margin-right: 12px;
}
.main__enter-blocksvg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  grid-row: span 2;
  border-radius: 50%;
  background: #2388FF;
  margin-right: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  color: var(--neutral-100, var(--colors-white, #FFF));
}
.main__enter-blocksvg--inactive{
  color: var(--neutral-600, #6F6C90);
  background: #EFF0F6;
}
.main__enter-blocktext {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px; /* 128.571% */
  color: #555;
}
.main__enter-blockline {
  width: 196px;
  height: 6px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #2388FF;
}
.main__enter-blockline--inactive{
  background: #EBEBEB;
}
.main__enter-body {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.enter__body-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 50% */
  color: #333;
}
.enter__body-subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 83.333% */
  color: #555;
  margin-bottom: 70px;
}
.enter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}
.enter__form-row {
  margin-bottom: 22px;
  &:last-child{
    margin-bottom: 0;
  }
}
.enter__form-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  color: #242426;
  margin-bottom: 2px;
}
.enter__form-input {
  border: 1px solid var(--neutral-colors-300, #F1F3F7);
  background: var(--colors-white, #FFF);
  box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
  border-radius: 6px;
  width: 478px;
  padding: 13px 16px;
}
.enter__btnbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.enter__btnbox-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 478px;
}
.enter__btnbox-enter{
  
}
.enter__btn-cancel {
  cursor: pointer;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #333;
}
.enter__btn-continue {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  background: #2388FF;
  padding: 6px 34px;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    background: #499cfc;
    transition: all .3s;
  }
}
.enter__btn-svg {
  margin-right: 10px;
}
.enter__btn-text {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */
  text-transform: capitalize;
  color: var(--colors-white, #FFF);
}


// ================================ BREAK-POINTS ===========================
// ================================ BREAK-POINTS ===========================

// ================================ 820 ====================================
@media (max-width: $breakpoint_820) {
  .main__enter-top{
    flex-direction: column;
  }
  .main__enter-block{
    justify-content: center;
    margin-bottom: 20px;
  }
  .main__enter-blockline {
    width: 226px;
  }

}

// ================================ 550 ====================================
@media (max-width: $breakpoint_550) {
  .header__enter-btn{
    margin-right: 15px;
  }
  .main__enter-top{
    margin-bottom: 30px;
  }
  .enter__body-title{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .enter__body-subtitle{
    font-size: 20px;
  }
  .enter__form-input{
    width: 90vw;
  }

}



// ================================ HOMEMAIN ===========================
// ================================ HOMEMAIN ===========================
.homemain {
}
// =========================== HOMEMAIN-HEADING ========================
.homemain__heading {
  margin-bottom: 60px;
}
.homemain__heading-container {
  margin: 0px 220px 0px 75px;
}
.homemain__heading-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  margin-bottom: 40px;
}
.homemain__heading-subtitle {
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  margin-bottom: 57px;
}
.homemain__heading-scroll{
  margin: 0 -30px;
}
.homemain__heading-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px;
}
.homemain__heading-catitem {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  padding: 12px 22px;
  border-radius: 5px;
  background: #F6F6F6;
  cursor: pointer;
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
  transition: all .3s;
  &:not(.catitem--active) {
    &:hover{
      transition: all .3s;
      color: #2388FF;
    }
  }
}
.homemain__heading-catitem.slick-slide.slick-active{
  display: flex;
  flex-direction: row;
  width: 450px;
}
.homemain__heading-catitem.slick-slide{
  display: flex;
  flex-direction: row;
}
.catitem--active {
  background: #FFF8D3;
}
.heading__catitem-svg {
  margin-right: 5px;
}
.heading__catitem-svg--transparent {
  z-index: -1;
}
.heading__catitem-text {
}
// =========================== HOMEMAIN-POPART ========================
.homemain__popart {
  margin-bottom: 110px;
}
.homemain__popart-container {
  margin: 0px 75px 0px 75px;
}
.homemain__popart-title {
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  margin-bottom: 16px;
}
.homemain__popart-contgrid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(1, auto);
  column-gap: 33px;
  row-gap: 0px;
  justify-content: start;
}
.popart__block {
  width: 297px;
  height: 382px;
  padding: 23px 17px 0px;
  cursor: pointer;
}
.popart__bg-1 {
  background: url('/img/article-item-1.png') no-repeat center / cover;
}
.popart__bg-2 {
  background: url('/img/article-item-2.png') no-repeat center / cover;
}
.popart__bg-3 {
  background: url('/img/article-item-3.png') no-repeat center / cover;
}
.popart__bg-4 {
  background: url('/img/article-item-4.png') no-repeat center / cover;
}
.popart__block-top {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #5D5D5D;
  margin-bottom: 20px;
}
.popart__block-tip {
  margin-right: 10px;
}
.popart__block-dot {
  margin-right: 10px; 
}
.popart__block-time {
}
.popart__block-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  transition: all .3s;
  &:hover{
    transition: all .3s;
    color: #2388FF;
  }
}
// =========================== HOMEMAIN-ARTICLES ========================
.homemain__articles {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}
.homemain__articles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
}
.article__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  max-width: 942px;
  padding-bottom: 50px;
  border-bottom: solid 2px rgba(133, 133, 133, 0.15);
}
.article__block-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.article__block-textpad {
  display: inline-flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #5D5D5D;
  border-radius: 3px;
  background: #F8F8F8;
  padding: 4px 8px;
  margin-right: 20px;
}
.article__block-time {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--colors-neutral-600, #475569);
}
.article__block-content {
  margin-bottom: 20px;
}
.article__block-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  margin-bottom: 20px;
}
.article__block-subtitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}
.article__block-imgbox {
  margin-bottom: 36px;
}
.article__block-img {
}
.article__block-url {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  &:hover{
    transition: all .3s;
    .article__block-urltext{
      transition: all .3s;
      color: #2388FF;
    }
    path{
      transition: all .3s;  
      fill: #2388FF;
    }
  }
}
.article__block-urltext {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--colors-neutral-600, #475569);
  margin-right: 10px;
}
.article__block-urlsvg {
}
// ================================ MAIN-EXIT ==============================
.main__exit-box {
  display: none;
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 200;
}
.main__exit {
  background: #FFF;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    left: -10px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 50%;
  }
}
.main__exit-logo {
  display: none;
}
// =========================== MAIN-BURGER__MENU ===========================
.mainburger__menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
  min-width: 381px;
  height: 100vh;
  z-index: 150;
  transform: translateX(100%);
  transition: all .3s;
  max-width: 600px;
  width: 100%;
}
.mainburger__menu--active {
  transition: all .3s;
  transform: translateX(0%);
  overflow-y: auto;
  &::-webkit-scrollbar{
    width: 5px;
  }
  &::-webkit-scrollbar-track{
    background: var(--colors-neutral-200, #E2E8F0);
    border-radius: var(--radius-radius-full, 9999px);
    border: 1px solid var(--colors-neutral-400, #94A3B8);
  }
  &::-webkit-scrollbar-thumb {
    max-height: 20px;
    border-radius: 20px;
    background: var(--colors-neutral-600, #475569);
  }
}
.mainburger__menu-container {
  padding: 20px 20px;

}
.mainburger__menu-logo {
  cursor: pointer;
  margin-bottom: 10px;
}
.mainburger__ul {
  margin-left: 20px;
}
.mainburger__li {
}
.mainburger__li-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  cursor: pointer;
  transition: all .3s;
  &:hover{
    .mainburger__li-text{
      color: #2388FF;
    }
  }
}
.mainburger__li-item--show{
  .mainburger__li-text{
    color: #2388FF;
  }
}
.mainburger__li-text {
  font-weight: 500;
    font-size: 16px;
}
.mainburger__li-img {
}
.mainburger__li-content {
}
.mainburger__li-wrapper {
  margin-bottom: 12px;
  cursor: pointer;
  &:hover{
    .mainburger__li-title, .mainburger__li-subtitle{
      color: #2388FF;
    }
  }
}
.mainburger__li-title {
  margin-bottom: 5px;
}
.mainburger__li-subtitle {
  max-width: 500px;
  font-weight: 400;
  color: #3f3f3f;
  font-size: 12px;
  opacity: 0.6;
  margin-right: 30px;
}





// ================================ BREAK-POINTS ===========================
// ================================ BREAK-POINTS ===========================


// ================================ 1800 ===========================
@media (max-width: $breakpoint_1800) {
  .drop-1{
    left: 60%;
  }
  .drop-2{
    left: 60%;
  }
  .drop-5{
    left: 60%;
  }


}
// ================================ 1600 ===========================
@media (max-width: $breakpoint_1600) {
  .drop-1{
    left: 55%;
  }
  .drop-2{
    left: 55%;
  }
  .drop-5{
    left: 55%;
  }


}
// ================================ 1500 ===========================
@media (max-width: $breakpoint_1500) {
  .homemain__heading-catitem{
    margin-bottom: 20px;
  }
  .iScrollHorizontalScrollbar.iScrollLoneScrollbar{
    border-radius: var(--radius-radius-full, 9999px);
    border: 1px solid var(--colors-neutral-400, #94A3B8);
    background: var(--colors-neutral-200, #E2E8F0);
    width: 98%!important;
    height: 12px!important;
    .iScrollIndicator{
      background: #475569 !important;
      border-radius: 20px!important;
    }
  }


}
// ================================ 1400 ===========================
@media (max-width: $breakpoint_1400) {
  .drop-1{
    left: 52%;
  }
  .drop-2{
    left: 52%;
  }
  .drop-5{
    left: 52%;
  }
  .homeheader__menu-rescol{
    padding-right: 25px;
    margin-right: 25px;
    &:last-child{
      padding-right: 0px;
      margin-right: 0px;
    }
  }
  .homeheader__menu-col{
    margin-right: 25px;
    &:last-child{
      padding-right: 0px;
    }
  }

  .homemain__popart-contgrid {
    display: flex;
  }
  .popart__block{
    margin-bottom: 20px;
    margin-right: 20px;
  }

}
// ================================ 1300 ===========================
@media (max-width: $breakpoint_1300) {
  .homeheader{
    display: none;
  }
  .main__exit-box {
    display: flex;
  }
  .homemain__heading{
    margin-top: 60px;
  }
  // .homemain__popart-contgrid{
  //   display: grid;
  //   grid-template-columns: repeat(2, auto);
  //   grid-template-rows: repeat(2, auto);
  //   row-gap: 20px;
  // }
  .main__exit-logo {
    cursor: pointer;
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
  }




}
// ================================ 1200 ===========================
@media (max-width: $breakpoint_1200) {
  .homemain__heading-container, .homemain__popart-container{
    margin: 0px 60px;
  }
  .homemain__articles-container{
    padding: 0px 30px;
  }
  .homemain__heading-categories.hslider-inner.slick-initialized.slick-slider{
    margin-left: 0px;
  }
  .homemain__heading-catitem{
    // margin-left: 15px;
  }
  
}
// ================================ 1100 ===========================
@media (max-width: $breakpoint_1100) {
  .homemain__heading-container, .homemain__popart-container{
    margin: 0px 30px;
  }
  .homemain__heading-categories{
    margin-bottom: 10px;
  }
  .iscroll, .homemain__heading-categories{
    width: 100%;
  }
  .homemain__popart-contgrid{
    margin: 0 -30px;
    display: flex;
  }
  .popart__block{
    width: 300px!important;
    height: 400px!important;
  }
  .main__exit-logo {
    margin-left: 15px;
  }
  .slick-track{
    padding-left: 30px;
  }
}
// ================================ 1024 ===========================
@media (max-width: $breakpoint_1024) {

}
// ================================ 700 ===========================
@media (max-width: $breakpoint_770) {

  .popart__block-title{
    font-size: 22px;
  }
}
// ================================ 630 ===========================
@media (max-width: $breakpoint_630) {

  .article__block-img{
    overflow: hidden;
  }
  .article__block-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
// ================================ 450 ===========================
@media (max-width: $breakpoint_450) {
  .homemain__heading-title{
    font-size: 30px;
  }
  .article__block-title{
    font-size: 28px;
  }
}
// ================================ 380 ===========================
@media (max-width: $breakpoint_380) {
  .homemain__heading-title{
    font-size: 28px;
  }
  .article__block-title{
    font-size: 26px;
  }
}



// ============================ INDEX-POST (POSTMAIN) ==========================
.postmain {
}
// ================================ POSTMAIN-HEADING ===========================
.postmain__heading {
  margin-bottom: 95px;
}
.postmain__heading-container {
  margin: 0px 80px;
  display: flex;
  flex-direction: row;
}
.postmain__heading-left {
  margin-right: 110px;
}
.postmain__heading-taxonmy {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}
.heading__taxonomy {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
}
.taxonomy-underline {
  span{
    text-decoration-line: underline;
  }
  position: relative;
  z-index: -1;
  margin-right: 5px;
  &::after{
    content: "/";
    padding-left: 5px;
    text-decoration: none;
  }
}
.postmain__heading-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  max-width: 705px;
  margin-bottom: 20px;
}
.postmain__heading-block {
  max-width: 705px;
  margin-bottom: 20px;
}
.postmain__heading-subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  margin-bottom: 10px;
}
.postmain__heading-timeshift {
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--colors-neutral-600, #475569);
}
.postmain__heading-right {
}
.postmain__heading-imgbox {
  overflow: hidden;
}
.postmain__heading-imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
// ============================== POSTMAIN-CONTENT ============================
.postmain__content {
  margin-bottom: 80px;
}
.postmain__content-container {
  margin: 0px 80px;
  display: flex;
  flex-direction: row;
}
.postmain__content-left {
  display: block;
  margin-right: 77px;
  max-width: 230px;
  width: 100%;
}
.postmain__left-title {
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  margin-bottom: 5px;
}
.postmain__left-undeline {
  width: 100%;
  height: 1px;
  background: #E3E3E3;
  margin-bottom: 20px;
  position: relative;
}
.postmain__left-prog{
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 30%;
  background: #000;
  transition: width 0.2s ease-out;
}
.postmain__left-ul {
}
.postmain__left-li {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #000;
  cursor: pointer;
  padding: 8px 12px;
  margin-bottom: 5px;
  &:last-child{
    margin-bottom: 0;
  }
  transition: all .3s;
  &:hover{
    transition: all .3s;
    color: #2388FF;
  }
}
.postmain__left-li--active{
  border-radius: 5px;
  background: #F8F8F8;
}
.postmain__content-right {
  max-width: 824px;
}
.postmain__top-block {
  margin-bottom: 35px;
}
.postmain__top-title {
  font-size: 27px;
  font-style: normal;
  font-weight: 300;
  line-height: 38.5px;
  color: #000;
  margin-bottom: 30px;
}
.postmain__top-subtitle {
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  color: #000;
  margin-bottom: 30px;
  &:last-child{
    margin-bottom: 0px;
  }
}
.postmain__middle-block {
  margin-bottom: 50px;
}
.postmain__middle-title {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 27px;
  margin-bottom: 20px;
}
.postmain__middle-subtitle {
  font-style: normal;
  font-weight: 300;
  line-height: 35px;
  font-size: 19px;
}
.postmain__bottom-block {
  border-radius: 5px;
  background: #F6F6F6;
  padding: 35px 30px;
}
.postmain__bottom-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.postmain__bottom-svg {
  margin-right: 16px;
}
.postmain__bottom-info {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
}
.postmain__bottom-underline {
  width: 100%;
  height: 1px;
  background: #DBDBDB;
  margin-bottom: 33px;
}
.postmain__bottom-text {
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
  font-size: 19px;
}
// ================================ POSTMAIN-BURGER ========================
.postmain__burger {
  display: none;
  margin-bottom: 40px;
}
.postmain__burger-top {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  margin-bottom: 20px;
  transition: all .3s;
  &:hover{
    transition: all .3s;
    color: #2388FF;
  }
}
.postmain__burger-svg {
  margin-right: 25px;
}
.postmain__burger-title {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
}
.postmain__burger-bottom {
}

// ================================ BREAK-POINTS ===========================
// ================================ BREAK-POINTS ===========================
// ================================ 1300 ===========================
@media (max-width: $breakpoint_1300) {
  .postmain__heading{
    margin-top: 60px;
  }
  .postmain__heading-left{
    margin-right: 30px;
  }
  .postmain__content-right{
    width: 60vw;
  }
  .postmain__content-left{
    margin-right: 30px;
  }
}
// ================================ 1100 ===========================
@media (max-width: $breakpoint_1100) {
  .postmain__heading-container, .postmain__content-container{
    margin: 0px 40px;
  }
}
// ================================ 820 ===========================
@media (max-width: $breakpoint_820) {
  .postmain__heading-container{
    display: block;
  }
  .postmain__heading-left{
    margin-bottom: 30px;
  }
  .postmain__heading-right{
    margin: 0px -40px;
  }
  .postmain__heading{
    margin-bottom: 20px;
  }
  .postmain__content-container{
    flex-direction: column;
  }
  .postmain__content-left{
    display: none;
  }
  .postmain__burger {
    display: block;
  }
  .postmain__content-right{
    width: 100%;
  }





}
// ================================ 770 ===========================
@media (max-width: $breakpoint_770) {
  .postmain__content-left{
    width: 30vw;
  }
  .postmain__top-title{
    font-size: 24px;
  }
  .postmain__top-subtitle, .postmain__middle-subtitle, .postmain__bottom-text{
    font-size: 16px;
  }
  .postmain__content-container, .postmain__heading-container{
    margin: 0px 18px;
  }
}
// ================================ 630 ===========================
@media (max-width: $breakpoint_630) {
  .postmain__heading{
    margin-bottom: 30px;
  }
  .postmain__heading-title{
    font-size: 30px;
  }
  .postmain__left-title{
    font-size: 16px;
  }
  .postmain__top-title{
    font-size: 18px;
  }
  .postmain__top-subtitle, .postmain__middle-subtitle, .postmain__bottom-text{
    font-size: 14px;
  }
}
// ================================ 450 ===========================
@media (max-width: $breakpoint_450) {
  .postmain__heading-title{
    font-size: 27px;
  }
}


